<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
	<a href="javascript: history.go(-1)"><i class="ri-close-line close"></i></a>
    <div class="container">
	<form action="/register" method="post" class="signUp">
		<h3 class="b-c">Create Your Account</h3>
		<p class="b-c">Just enter your email address</br>
            and your password for join.
		</p>
		<input class="w100" type="email" name="email" placeholder="Insert eMail"  />
		<input  type="number" name="number" placeholder="Insert Number"  />
		<input  type="text" name="username" placeholder="Create Username" />
		<input  type="password" name="password" placeholder="Create Password" />
		<button class="form-btn sx log-in" type="button">Log In</button>
		<button class="form-btn dx" type="submit">Sign Up</button>
	</form>
	<form action="/login" method="post" class="signIn">
		<h3>Welcome</br>Back !</h3>
        <br> <p class="b-c">Login Here<br>
            Enter your username and password
            </p>
		<!-- <button class="fb" type="button">Log In With Facebook</button>
		<p>- or -</p> -->
		<input type="text" name="username" placeholder=" Insert Username" autocomplete='off' reqired />
		<input type="password" name="password" placeholder="Insert Password" reqired />
		<button class="form-btn sx back" type="button">Back</button>
		<button class="form-btn dx " type="submit">Log In</button>
	</form>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="../javascripts/login.js"></script>
</body>
</html>